.App {
  text-align: center;
}
body {
  overscroll-behavior: none;
  background-color: #b5f1cc;
  background-image: url("./images/food.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  backdrop-filter: blur(3px);
}
